body{
    background: linear-gradient(45deg,#b2d407,#02aed0,#1daafc,#87fd09,#f21c95,#0831e7d6);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-size: 2000px 1000px;
    background-repeat: no-repeat;

}
.container{
   background:linear-gradient(45deg,#eff0f3,#67f0c2,#d6727e,#c13584,#ec6cec,#b256bc);
   width: 400px;
   height: 250px;
   justify-content: center;
   text-align: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   margin-bottom: auto;
}

h3{
    
    color:black;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-top: 30px;
}
input{
    width: 70px;;
    padding: 20px;
    height: 40px;
    margin-top: auto;
    border:1px solid #d2d2d2;
    border-radius: 6px;
}
#op{
    width: 50px;
    height: 40px;
    margin-top: 15px;
   
}
#n1{
    margin-right: auto;
}
#n2{
    margin-left: auto;
}
input:focus{
    outline:1px solid #1877f2
}
input:focus::placeholder{
    color:#c2c2c2;

}
.num{
     display: flex;
    flex-direction: row;
    text-align: center;
    /* background-color: white; */
    align-content: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color:red ;
    color:white;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px;
    width: 200px;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
button:hover{
    background-color: #1360c4;
    cursor: pointer;
}
h2{
    color: purple;
}