*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: orange;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
    
.basic{
    background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.p{
    text-align: center;
}

.RS{
    display: flex;
  justify-content: center;
  
}
.pricing-area{
    height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
  
}
.inner-area{
    height: 100%;
    width: 100%;
    line-height: 117px;
    text-align: center;
    position: relative;
    color:red;
}
.Sym{
    font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 5px;
}
.Rs{
    font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
  
}
.package-name{
    width: 100%;
    height: 2px;
    margin :35px 0;
    position: relative;
  }
